<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://the-internet.herokuapp.com/"/>
    <add key="browser" value="chrome"/>
    <add key="secondOfWait" value="20"/>
    <add key="lang" value="--lang=ru"/>
    <add key="mesCorrectStr" value="The string is correct"/>
    <add key="mesLoadMain" value ="Main page is loaded"/>
    <add key="mesLoadJsAllert" value="Allerts page is open"/>
    <add key="testDataFile" value="TestData.xml"/>
  </appSettings>
</configuration>