<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://userinyerface.com/game.html%20target="/>
    <add key="browser" value="chrome"/>
    <add key="lang" value="--lang=ru"/>
    <add key="secondOfWait" value="20"/>
    <add key="timeOfSleep" value="2000"/>
    <add key="avatarFile" value="C:\Users\Пользователь\Documents\autotest\stage2-task1\stage2_task1\stage2_task1\Avatars\avatar_2.jpg"/>
    <add key="testDataFile" value="TestData.xml"/>
  </appSettings>
</configuration>